* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

h1.logo {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    padding-left: 100px;
    font-size: 36px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin-left: 30px;
}

.navbar li {
    float: left;
    padding-left: 50px;
}

.navbar a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar a:hover {
    background-color: #555; 
}


h2{
    text-align: center;
    padding-top: 20px;
}

.register {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


p {
    font-size: 14px;
    color: #666;
}


.link {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
}

.register_btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register_btn:hover {
    background: #0056b3;
}


footer {
    background-color: #333;
    color: #fff;
    margin-top: 25vh;
    padding: 20px;
    text-align: center;
}

.footer-content p {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.pagehead{
    padding-left: 90px;
    padding-top: 20px;
}

.container {
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.contact {
    flex: 1;
    padding-right: 20px;
}

.contactusimg {
    flex: 1;
    width: 70%;
    margin-left: 120px;
}

section{
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 600px;
   
}

.aboutUsImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;
    margin-left: 90px;
}


.contact-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.contact-button:hover{
    background-color: #0056b3;
}

.about{
    margin-left: 90px;
}

.profilecontainer {
    border: 1px solid #ccc;
    padding: 20px; 
    width: 800px; 
    margin-left: 90px; 
    background-color: #f9f9f9; 
}

.user-details {
    margin-top: 10px;
}

.userdetails {
    margin: 5px 0;
}

.profilecontainer {
    margin-left: 90px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#data-table th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#data-table td {
    padding: 10px;
    border: 1px solid #ddd;
}


.edit-btn, .delete-btn {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #2980b9;
}
